:root {
    /* 高度与宽度应与 @page一致 */
    --frame-height: 210mm;
    --frame-width: 297mm;
    --fg-color: #14213D;
    --bg-color: #FFFFFF;
    --secend-color: #14213D;
    --side-margin: 10mm;
    --top-margin: 2mm;
    --font-size-1: 4mm;
    --font-size-2: 6mm;
    --font-size-3: 8mm;
    --font-size-4: 10mm;
    --font-size-5: 12mm;
    --font-size-6: 14mm;
    --font-size-7: 16mm;
    --font-size-8: 18mm;
    --font-size-9: 20mm;
}
@page {
    size: A4 landscape;
    margin: 0mm 0mm -1mm 0mm;
    padding: 0;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}
html, body {
    width: 100%;
    height: 100%;
    color: var(--fg-color);
    background: var(--bg-color);
    font-family: SimSun;
}
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 5mm 0mm;
}
footer {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-1);
    flex-basis: var(--font-size-2);
    text-align: center;
    border-top: .5mm solid #000;
}
footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > div:nth-child(1) {
    flex-basis: 50mm;
}
footer > div:nth-child(2) {
    flex-grow: 1;
}
footer > div:nth-child(3) {
    flex-basis: 50mm;
}
/* 定义一个页面 */
section\:f {
    height: var(--frame-height);
    font-size: var(--font-size-3);
    /* break-after: always; */
    break-inside: avoid;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 0mm 10mm;
}
/* 定义一个垂直flex布局 */
flex\:v {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
/* 定义一个水平flex布局 */
flex\:h {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
/* 定义一个图片标签 */
img\:c {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    flex-grow: 1;
}