:root {
    /* 高度与宽度应与 @page一致 */
    --frame-height: 210mm;
    --frame-width: 297mm;
    --fg-color: #14213D;
    --bg-color: #FFFFFF;
    --secend-color: #14213D;
    --small-font-size: 4mm;
    --footer-height: 4vh;
    --side-margin: 10mm;
    --top-margin: 2mm;
    --bottom-padding: 1mm;
    --normal-font-size: 10mm;
}
html {
    color: var(--fg-color);
    background: var(--bg-color);
    font-family: SimSun;
}
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, p {
    color: var(--fg-color);
}
h1 {
    font-size: 18mm;
}
@page {
    size: A4 landscape;
    margin: 0mm 0mm -1mm 0mm;
    padding: 0;
    overflow: hidden;
}
* {
    margin: 0mm;
    padding: 0mm;
    margin-block-start: 0mm;
    margin-block-end: 0mm;
}
.frame {
    height: var(--frame-height);
    font-size: var(--normal-font-size);
    display: flex;
    flex-direction: column;
    break-after: always;
    break-inside: avoid;
    position: relative; /* 给内部元素做位置参考，比如第一页的背景 */
    overflow: hidden;   /* 溢出部分不显示 */
}
@media print {
    .frame {
        border: none;
    }
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0mm;
    margin-top: var(--top-margin);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}
.first_frame {
    text-align: center;
}
.footer {
    font-size: var(--small-font-size);
    color: var(--fg-color);
    display: flex;
    margin: 0 var(--side-margin);
    padding: var(--bottom-padding) 0;
    border-top: .5mm solid var(--secend-color);
}
.footer_left {
    flex-grow: 1;
}
.footer_center {
    flex-grow: 3;
}
.footer_right {
    flex-grow: 1;
}
.footer > div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.frame_title {
    border-bottom: .5mm solid var(--secend-color);
}
.frame_content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.frame_content_block {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
