:root {
    --fg-color: #14213D;
    --bg-color: #FFFFFF;
    --secend-color: #14213D;
}

/* 打印尺寸设置 */
@page {
    /* vh 和 vw 似乎会根据这个尺寸来 */
    size: 1920px 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 全局 CSS 设置 */
* {
    margin: 0;
    padding: 0;
    border: none;
    /* 消除某些莫名其妙的对不齐 */
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--fg-color);
    background: var(--bg-color);
    font-family: SimSun;
}

body {
    position: relative;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 20px 0px;
}

/* 定义一个页面 */
section, .section {
    height: 100vh;
    font-size: 3vh;
    /* break-after: always; */
    break-inside: avoid;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 2vw;
}

/* 定义一个垂直flex布局 */
flex-v, .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    padding-top: 5vh;
}

/* 定义一个水平flex布局 */
flex-h {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* 图片标签自适应 */
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    min-width: 0;
    flex: 1 1 0;
}

/* 页眉、页脚 */
header, footer {
    font-size: 2.2vh;
    flex: 0 0 2.3vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.grid-layout {
    display: grid;
    align-items: center;
    margin: auto 5vw;
    grid-row-gap: 1vh;
    justify-items: center;
    grid-auto-flow: column;
}

/* highlightjs css 修正 */
.hljs-ln-n:before {
    margin-right: 20px;
}

ol {
    padding: 0px 20px;
}
li {
    list-style: cjk-ideographic;
}
li > ol > li {
    list-style: decimal;
}